node_modules
dist
build
coverage
logs
*.log

.env
.env.*
!.env.example

.git
.gitignore
.github

.tmp
.cache
.strapi-updater.json
.strapi-cloud.json

public/uploads/*
!public/uploads/.gitkeep
data/uploads

Dockerfile
docker-compose.yml
.dockerignore
README.md
